/* --------- Defaults ---------*/

body, ul, li, img, p {
    color: #333;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
li {
    list-style-type: none;
    padding: 0 10px;
}
a, i {
    text-decoration: none;
    color: #888;
    font-size: 13px;
}
a:hover {
    text-decoration: underline;
}

/* --------- Header --------- */

header {
    display: flex;
    height: 60px;
    background-color: #f1f1f1; 
}
.header-links{
    display: flex;
    align-items: center;
}
header a {
    color: #333;
}
header  ul {
    width: 100%;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
header img{
    width: 100px;
    height: auto;
}
header #logo {
    grid-column: 1 / 2; 
}
header #back_to_main {
    grid-column: 2 / 3;
    justify-self: end;
}

/* --------- Main ------- */

section {
    height: 75vh;
    padding: 0 40px;
}
.advanced-search-container {
  margin: 50px 40px;
}
.advanced-search-container label {
  display: inline-block;
  width: 16%;
  font-size: 20px;
}
.advanced-search-container .whitespace {
  display: inline-block;
  width: 50%;
}
.advanced-search-container .form-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px 0;
}
.advanced-search-container .form-group label {
  width: 16%;
  font-size: 14px;
}
.advanced-search-container .form-group input[type=text] {
  width: 49%;
  padding: 2px 0;
}
.advanced-search-container .form-group .clarification {
  font-size: 11px;
  width: 30%;
  margin-left: 1%;
}
.advanced-search-container .form-group .clarification .monospace {
  font-family: monospace;
}
input {
    width: 120px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}
.advanced-search-container .form-group .right-align > input{ 
    color: #eee;
    border: 1px solid #aaa;
    line-height: 27px;
    height: 36px;
    cursor: pointer;
    border-radius: 3px;
    background-color: #4d90fe;
    width: 120px;
    height: 30px;
    
}
  
/* ------------ Footer -------- */
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}
.footer1, .footer2 {
    background: #f7f7f7;
    padding: 20px 1.5em;
    
}
.footer1 {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.footer1  ul {
    display: flex;
    align-items: center;
}
.footer2  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}